.banner {
  background-color: skyblue;
}

#about {
  background-color: antiquewhite;
  /*font-size: 14px;*/
}

#skills {
  background-color: skyblue;
}

#portfolio {
  background-color: antiquewhite;
}

#contact {
  background-color: white;
}
