#about {
  background-color: antiquewhite;
  /*font-size: 14px;*/
}
#portfolio {
  background-color: antiquewhite;
}

#skills {
  background-color: skyblue;
}

.banner {
  background-color: skyblue;
}

#contact {
  background-color: white;
}
