.banner {
  background-color: #1A8FE3;
}

#about {
  background-color: #6610F2;
  /*font-size: 14px;*/
}

#skills {
  background-color: #D11149;
}

#portfolio {
  background-color: #F17105;
}

#contact {
  background-color: #E6C229;
}
